/* .body {
  background-color: white;
  font-size: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
} */

.left-container-para {
  font-size: 20px;
  text-align: left;
}
.img-bin {
  width: 10%;
  text-align: left;
  padding-left: 100px;
  display: flex;
  gap: 30px;
}
.img-text {
  font-size: 10px;
}

.h1 {
  display: flex;
  width: 100%;
  padding-left: 10px;
}
.left-container {
  margin-top: 50px;
  width: 50%;
}

.right-container {
  width: 50%;
  margin-top: 100px;
}
.h2 {
  display: flex;
  width: 100%;
  padding-left: 10px;
  /* background-color: rgb(218, 234, 245); */
}
.h2-leftContainer {
  text-align: left;
  padding-top: 30px;
  width: 50%;
}
.h2-leftContainer img {
  text-align: left;
  width: 60%;
  height: 80%;
  padding-left: 10%;
}

.h2-rightContainer {
  float: right;
  width: 50%;
}
.h3 {
  /* background-color: rgb(218, 234, 245); */
  display: flex;
}
.h3-left {
  padding-left: 20px;
}
.h3-left h1 {
  font-size: 35px;
}
.h3-left p {
  font-size: 20px;
}
.h3-right {
  width: 50%;
}
.h3-right img {
  padding-top: 30px;
  width: 50%;
  height: 70%;
}
