.header-container {
  background-image: url("https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  top: 0;
  right: 0;
  width: 30%;
  z-index: -50;
  height: 700px;
}
